<a href="https://colab.research.google.com/github/Duku-code/Duku/blob/main/Twitter_Setiment_Analysis_airline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import numpy as np
import seaborn as sns  
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Advanced AI/Tweets.csv')

In [ ]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [ ]:
df_sliced = df[['text', 'airline_sentiment']]

In [ ]:
df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = '(@[\w]+)', value = '', regex=True)
df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = ('RT'), value = '', regex=True)
df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = ('\n'), value = '', regex=True)

<ipython-input-34-421a7b432d88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = '(@[\w]+)', value = '', regex=True)
<ipython-input-34-421a7b432d88>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = ('RT'), value = '', regex=True)
<ipython-input-34-421a7b432d88>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = ('\n'), value = '', regex=True)

In [ ]:
df_sliced.head()

,text,airline_sentiment,tidy_tweet
0,@VirginAmerica What @dhepburn said.,neutral,What said.
1,@VirginAmerica plus you've added commercials t...,positive,plus you've added commercials to the experien...
2,@VirginAmerica I didn't today... Must mean I n...,neutral,I didn't today... Must mean I need to take an...
3,@VirginAmerica it's really aggressive to blast...,negative,"it's really aggressive to blast obnoxious ""en..."
4,@VirginAmerica and it's a really big bad thing...,negative,and it's a really big bad thing about it

In [ ]:
df_sliced["tidy_tweet"] = df_sliced["tidy_tweet"].astype(str).str.split()

<ipython-input-36-d0f24e5e764e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sliced["tidy_tweet"] = df_sliced["tidy_tweet"].astype(str).str.split()

In [ ]:
df_sliced.head()

,text,airline_sentiment,tidy_tweet
0,@VirginAmerica What @dhepburn said.,neutral,"[What, said.]"
1,@VirginAmerica plus you've added commercials t...,positive,"[plus, you've, added, commercials, to, the, ex..."
2,@VirginAmerica I didn't today... Must mean I n...,neutral,"[I, didn't, today..., Must, mean, I, need, to,..."
3,@VirginAmerica it's really aggressive to blast...,negative,"[it's, really, aggressive, to, blast, obnoxiou..."
4,@VirginAmerica and it's a really big bad thing...,negative,"[and, it's, a, really, big, bad, thing, about,..."

In [ ]:
# Removing stopword
!pip3 install nltk
import nltk
nltk.download('stopwords')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words("english")

In [ ]:
for i in df_sliced['tidy_tweet'][0:5]:
  temp = [word for word in i if str(word).lower() not in stop]
  print(temp)

['said.']
['plus', 'added', 'commercials', 'experience...', 'tacky.']
['today...', 'Must', 'mean', 'need', 'take', 'another', 'trip!']
['really', 'aggressive', 'blast', 'obnoxious', '"entertainment"', "guests'", 'faces', '&amp;', 'little', 'recourse']
['really', 'big', 'bad', 'thing']