<a href="https://colab.research.google.com/github/Duku-code/Duku/blob/main/USA_Airline_sentiment_analysis_with_ML_LogisticRegression_and_DecisionTreeClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
df= pd.read_csv('/content/Tweets.csv')

In [20]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [21]:
df_sliced = df[['text','airline_sentiment']]
df_sliced.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [22]:
df_sliced[df_sliced['airline_sentiment'] == 'positive']

                                                    text airline_sentiment
1      @VirginAmerica plus you've added commercials t...          positive
6      @VirginAmerica yes, nearly every time I fly VX...          positive
8        @virginamerica Well, I didn't…but NOW I DO! :-D          positive
9      @VirginAmerica it was amazing, and arrived an ...          positive
11     @VirginAmerica I &lt;3 pretty graphics. so muc...          positive
...                                                  ...               ...
14623  @AmericanAir Love the new planes for the JFK-L...          positive
14625  @AmericanAir Flight 236 was great. Fantastic c...          positive
14628  Thank you. “@AmericanAir: @jlhalldc Customer R...          positive
14630                        @AmericanAir Thanks! He is.          positive
14635  @AmericanAir thank you we got on a different f...          positive

[2363 rows x 2 columns]

In [23]:
import warnings
warnings.filterwarnings("ignore")

In [24]:
# removing @mentions
df_sliced['tidy_tweet'] = df_sliced['text'].replace(to_replace = '(@[\w]+)', value = '', regex=True)
# REMOVE 'RT' 
df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = ('RT'), value = '', regex=True)
df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].replace(to_replace = ('\n'), value = '', regex=True)

In [25]:
df_sliced.head()

,text,airline_sentiment,tidy_tweet
0,@VirginAmerica What @dhepburn said.,neutral,What said.
1,@VirginAmerica plus you've added commercials t...,positive,plus you've added commercials to the experien...
2,@VirginAmerica I didn't today... Must mean I n...,neutral,I didn't today... Must mean I need to take an...
3,@VirginAmerica it's really aggressive to blast...,negative,"it's really aggressive to blast obnoxious ""en..."
4,@VirginAmerica and it's a really big bad thing...,negative,and it's a really big bad thing about it

In [26]:
df_sliced["tidy_tweet"] = df_sliced["tidy_tweet"].str.split()

In [27]:
df_sliced.head()

,text,airline_sentiment,tidy_tweet
0,@VirginAmerica What @dhepburn said.,neutral,"[What, said.]"
1,@VirginAmerica plus you've added commercials t...,positive,"[plus, you've, added, commercials, to, the, ex..."
2,@VirginAmerica I didn't today... Must mean I n...,neutral,"[I, didn't, today..., Must, mean, I, need, to,..."
3,@VirginAmerica it's really aggressive to blast...,negative,"[it's, really, aggressive, to, blast, obnoxiou..."
4,@VirginAmerica and it's a really big bad thing...,negative,"[and, it's, a, really, big, bad, thing, about,..."

In [28]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words("english")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [29]:
for i in df_sliced['tidy_tweet'][0:5]: 
  temp = [word for word in i if str(word).lower() not in stop]
  print(temp)

['said.']
['plus', 'added', 'commercials', 'experience...', 'tacky.']
['today...', 'Must', 'mean', 'need', 'take', 'another', 'trip!']
['really', 'aggressive', 'blast', 'obnoxious', '"entertainment"', "guests'", 'faces', '&amp;', 'little', 'recourse']
['really', 'big', 'bad', 'thing']

In [30]:
df_sliced['tidy_tweet'][0][0][0:3]

'Wha'

In [31]:
df_sliced['tidy_tweet'] = df_sliced['tidy_tweet'].apply(lambda x:[word for word in x if str(word).lower() not in stop])

In [32]:
df_sliced

,text,airline_sentiment,tidy_tweet
0,@VirginAmerica What @dhepburn said.,neutral,[said.]
1,@VirginAmerica plus you've added commercials t...,positive,"[plus, added, commercials, experience..., tacky.]"
2,@VirginAmerica I didn't today... Must mean I n...,neutral,"[today..., Must, mean, need, take, another, tr..."
3,@VirginAmerica it's really aggressive to blast...,negative,"[really, aggressive, blast, obnoxious, ""entert..."
4,@VirginAmerica and it's a really big bad thing...,negative,"[really, big, bad, thing]"
...,...,...,...
14635,@AmericanAir thank you we got on a different f...,positive,"[thank, got, different, flight, Chicago.]"
14636,@AmericanAir leaving over 20 minutes Late Flig...,negative,"[leaving, 20, minutes, Late, Flight., warnings..."
14637,@AmericanAir Please bring American Airlines to...,neutral,"[Please, bring, American, Airlines, #BlackBerr..."
14638,"@AmericanAir you have my money, you change my ...",negative,"[money,, change, flight,, answer, phones!, sug..."
14639,@AmericanAir we have 8 ppl so we need 2 know h...,neutral,"[8, ppl, need, 2, know, many, seats, next, fli..."

In [37]:
# applying lemmatization on the text
import nltk
nltk.download('omw-1.4')
nltk.download('wordnet') # wordnet is a dictionary 
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer  = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
  return [lemmatizer.lemmatize(str(w), pos ='v') for w in str(text).split()]

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [39]:
def rejoin_words(row):
  mylist = row['tidy_tweet']
  joined_words = (" ".join(mylist))
  return (str(joined_words).lower())
df_sliced['tidy_tweet'] = df_sliced.apply(rejoin_words, axis = 1)

In [40]:
df_sliced.head()

,text,airline_sentiment,tidy_tweet
0,@VirginAmerica What @dhepburn said.,neutral,said.
1,@VirginAmerica plus you've added commercials t...,positive,plus added commercials experience... tacky.
2,@VirginAmerica I didn't today... Must mean I n...,neutral,today... must mean need take another trip!
3,@VirginAmerica it's really aggressive to blast...,negative,"really aggressive blast obnoxious ""entertainme..."
4,@VirginAmerica and it's a really big bad thing...,negative,really big bad thing

In [41]:
df_sliced['tidy_tweet_lemma'] = df_sliced['tidy_tweet'].apply(lambda x: lemmatize_text(x))

In [42]:
df_sliced['tidy_tweet_lemma']

0                                                  [said.]
1          [plus, add, commercials, experience..., tacky.]
2        [today..., must, mean, need, take, another, tr...
3        [really, aggressive, blast, obnoxious, "entert...
4                                [really, big, bad, thing]
                               ...
14635            [thank, get, different, flight, chicago.]
14636    [leave, 20, minutes, late, flight., warn, comm...
14637    [please, bring, american, airlines, #blackberr...
14638    [money,, change, flight,, answer, phones!, sug...
14639    [8, ppl, need, 2, know, many, seat, next, flig...
Name: tidy_tweet_lemma, Length: 14640, dtype: object

In [45]:
#apply stemming on the text 
#stemmng doesn't follow grammer 
#stemming searches for the root form of the word 
# it removes ie ning, ties, s, ting etc 
from nltk.stem import PorterStemmer
ps = PorterStemmer()
print(ps.stem("Dukuing"))
# stemming and lemmation are used for normalizing the text

duku

Converting unstructured text data to numbers 


*   Countvectorizer
*   TFIDF vectorizer

In [48]:

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
cv = CountVectorizer()
ttfidf = TfidfVectorizer()

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_sliced['tidy_tweet'], df_sliced['airline_sentiment'], test_size = 0.2, random_state=2)

In [51]:
df_sliced

,text,airline_sentiment,tidy_tweet,tidy_tweet_lemma
0,@VirginAmerica What @dhepburn said.,neutral,said.,[said.]
1,@VirginAmerica plus you've added commercials t...,positive,plus added commercials experience... tacky.,"[plus, add, commercials, experience..., tacky.]"
2,@VirginAmerica I didn't today... Must mean I n...,neutral,today... must mean need take another trip!,"[today..., must, mean, need, take, another, tr..."
3,@VirginAmerica it's really aggressive to blast...,negative,"really aggressive blast obnoxious ""entertainme...","[really, aggressive, blast, obnoxious, ""entert..."
4,@VirginAmerica and it's a really big bad thing...,negative,really big bad thing,"[really, big, bad, thing]"
...,...,...,...,...
14635,@AmericanAir thank you we got on a different f...,positive,thank got different flight chicago.,"[thank, get, different, flight, chicago.]"
14636,@AmericanAir leaving over 20 minutes Late Flig...,negative,leaving 20 minutes late flight. warnings commu...,"[leave, 20, minutes, late, flight., warn, comm..."
14637,@AmericanAir Please bring American Airlines to...,neutral,please bring american airlines #blackberry10,"[please, bring, american, airlines, #blackberr..."
14638,"@AmericanAir you have my money, you change my ...",negative,"money, change flight, answer phones! suggestio...","[money,, change, flight,, answer, phones!, sug..."
14639,@AmericanAir we have 8 ppl so we need 2 know h...,neutral,8 ppl need 2 know many seats next flight. plz ...,"[8, ppl, need, 2, know, many, seat, next, flig..."

In [52]:
x_train

8993                thank you! calling you! #cheapoairchat
2259     tonight made fred flintstone happy upgrade 1st...
6266                                          thank you!!!
11686    really, middle initial versus middle name. els...
2777     know. i’m sure hear time — don’t like new seat...
                               ...
11798    please hogs next flight me! i'm waiting bus ge...
13896                             trouble getting rebooked
6637     eventually get flight cancelled flightled. dec...
2575     flying home 9:30am event tomorrow. pushed back...
7336     flight 98 den jfk already 2hrs delayed. idea m...
Name: tidy_tweet, Length: 11712, dtype: object

In [53]:
y_train

8993     positive
2259     positive
6266     positive
11686    negative
2777     negative
           ...
11798    negative
13896    negative
6637     negative
2575     negative
7336     negative
Name: airline_sentiment, Length: 11712, dtype: object

Passing the data in to CountVectorizer

In [58]:
cv = CountVectorizer(ngram_range=(1,1), 
                     stop_words = "english", 
                     min_df=3,  
                     max_df=0.1, 
                     max_features=1500)
x_train_cv = cv.fit_transform(x_train)

In [59]:
x_train_cv #stores the output as spare matrix

<11712x1500 sparse matrix of type '<class 'numpy.int64'>'
	with 69128 stored elements in Compressed Sparse Row format>

In [60]:
df_check = pd.DataFrame(x_train_cv.toarray(), columns = cv.get_feature_names_out())
df_check

,00,000,10,100,11,12,13,14,15,150,...,year,years,yep,yes,yesterday,yo,york,yr,yyz,zero
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11708,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11709,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11710,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11711,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
x_train_cv = cv.fit_transform(x_train)
x_test_cv = cv.transform(x_test)

In [62]:
y_train

8993     positive
2259     positive
6266     positive
11686    negative
2777     negative
           ...
11798    negative
13896    negative
6637     negative
2575     negative
7336     negative
Name: airline_sentiment, Length: 11712, dtype: object

Change the y data in to  number using LabelEncoding

In [63]:
#using ITDF Veectorizer
tfdf = TfidfVectorizer(ngram_range=(1,1), 
                     stop_words = "english", 
                     min_df=3,  
                     max_df=0.1, 
                     max_features=1500)
x_train_tf = tfdf.fit_transform(x_train)
x_test_tf= tfdf.transform(x_test)

In [65]:
df_check = pd.DataFrame(x_train_tf .toarray(), columns = cv.get_feature_names_out())
df_check

,00,000,10,100,11,12,13,14,15,150,...,year,years,yep,yes,yesterday,yo,york,yr,yyz,zero
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11708,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11710,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
#Apply labelEcoder to transform the y data to number 
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
y_train_le = le.fit_transform(y_train)
y_test_le = le.transform(y_test)

Apply Machine Learning modeel on the preprocessing

In [68]:
from sklearn.linear_model import LogisticRegression
LogReg= LogisticRegression()
LogReg.fit(x_train_tf, y_train_le)

LogisticRegression()

In [70]:
LogReg_pred = LogReg.predict(x_test_tf)
LogReg_pred[:4]

array([2, 0, 2, 2])

In [71]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test_le, LogReg_pred))

0.7653688524590164

In [75]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train_tf, y_train_le)

DecisionTreeClassifier()

In [77]:
clf_pred = clf.predict(x_test_tf)

In [78]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test_le, clf_pred ))

0.6905737704918032